<template>
    <div class="props">
        <h1>This is an props father to son page</h1>
        <h5> I am a child component</h5>
        <hr>
        <h2>Product 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit vero fugit quibusdam blanditiis enim accusamus
            dicta iusto nihil deleniti pariatur! Laudantium eveniet error quod iste amet. Quae quam pariatur
            voluptatibus?</p>

        <ProductInfo likes="10" comments="20" />
        <ProductInfo v-bind:likes="product.likes" v-bind:comments="product.comments" />
        <ProductInfo v-bind:likes="likes" v-bind:comments="comments" />
        

    </div>
</template>

<script setup>
import { reactive, ref } from 'vue';
import ProductInfo from '../components/ProductInfo.vue';
const product = reactive({
    likes: 20,
    comments: 45
})
const likes = ref(20);
const comments = ref(45);
</script>



<style>
@media (min-width: 1024px) {
    .props {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}
</style>
  