<template>
    <div>
        Likes: {{ likes }}
        Comments: {{ comments }}
        Likes: {{ product.likes }}
        Comments: {{ product.comments }}
    </div>
</template>
<script setup>
// defineProps(['likes', 'comments']);
// defineProps({
//     likes: Number,
//     comments: Number,

import { reactive } from "vue";

// })
const product = reactive({
    likes: 100,
    comments: 45
})
</script>
